@font-face {
    font-family: "Mono MMM 5";
    src: url("monoMMM_5.ttf");
}

/* samaritan marquee */

.dashwood-s-marquee {
    margin: 0 auto;
    text-align: center;
}

/* samaritan marquee (.text) */

.dashwood-s-marquee .text {
    display: inline-block;
    font-family: "Mono MMM 5";
    font-size: 23px;
    line-height: 23px;
    min-height: 23px;
    color: transparent;
    white-space: nowrap;
    transition-duration: 200ms;
}

.dashwood-s-marquee.mode-banner .text {
    color: white;
    background-color: black;
    letter-spacing: 8px;
    padding: 5px 0px 5px 10px;
    border-radius: 2px;
}

.dashwood-s-marquee.mode-text .text {
    color: black;
    transition: none;
}

/* samaritan marquee (.line) */

.dashwood-s-marquee .line {
    margin: 0 auto;
    width: 0;
    border-bottom: 2px solid black;
}

.dashwood-s-marquee.mode-text .line {
    width: 30px;
    transition-duration: 200ms;
}

/* samaritan marquee (.arrow) */

.dashwood-s-marquee .arrow {
    display: none;
    border-bottom: 10px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.dashwood-s-marquee.mode-text .arrow {
    display: inline-block;
}

.dashwood-s-marquee .arrow-animation {
    border-bottom: 10px solid #330000;
    -webkit-animation: samaritan-arrow-animation 1000ms alternate infinite linear;
    animation: samaritan-arrow-animation 1000ms alternate infinite linear;
}
@-webkit-keyframes samaritan-arrow-animation {
    from { border-bottom-color: #330000; }
    to { border-bottom-color: #cc0000; }
}
@keyframes samaritan-arrow-animation {
    from { border-bottom-color: #330000; }
    to { border-bottom-color: #cc0000; }
}

/* samaritan progress */

.dashwood-s-progress {
    font-family: "Mono MMM 5";
    font-size: 23px;
    width: 650px;
    margin: 0 auto;
}

/* samaritan progress (.header) */

.dashwood-s-progress .header {
    display: inline-block;
    color: white;
    background-color: black;
    letter-spacing: 8px;
    padding: 5px 0px 5px 10px;
    border-radius: 2px;
    margin-bottom: 8px;
}

.dashwood-s-progress .header::after {
    content: "_";
    animation: fast-flash 300ms linear infinite;
}

@keyframes fast-flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

/* samaritan progress (.info) */

.dashwood-s-progress .info {
    display: none;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
}

/* samaritan progress (.bar) */

.dashwood-s-progress .bar {
    border: 2px solid black;
    padding: 3px;
}

.dashwood-s-progress .bar .bar-inside {
    background: black;
    width: 0;
    height: 25px;
    transition-duration: 500ms;
}
